# See https://docs.github.com/get-started/getting-started-with-git/ignoring-files for more about ignoring files.

# Compiled output
/dist
/tmp
/out-tsc
/bazel-out

.env

# Node
/node_modules

# IDEs and editors
/.idea


# Visual Studio Code
/.vscode

# Miscellaneous
/.angular

# System files
.DS_Store
Thumbs.db
