<nav
  class="flex flex-row items-center justify-between px-5 max-w-[90%] md:max-w-[80%] mx-auto border border-primary rounded-full relative py-2 top-2 bg-white"
>
  <h1
    class="lg:text-[32px] md:text-[24px] uppercase font-rubik text-primary cursor-pointer text-lg"
    routerLink="/"
  >
    Zenspace
  </h1>

  <div
    class="flex-row gap-2 min-w-fit nav-items translate-center hidden md:flex"
  >
    <a routerLink="/home" routerLinkActive="active">Home</a>
    <a routerLink="/chats" routerLink="active">Chats</a>
    <a routerLink="/calls" routerLinkActive="active">Calls</a>
  </div>

  <div id="auth-options" class="flex flex-row gap-2">
    @if(isAuthenticated()) { }@else {
    <app-button
      (clicked)="router.navigateByUrl(router.url === '/auth/login' ? '/auth/register' : '/auth/login')"
      [buttonType]="'primary'"
      [name]="router.url === '/auth/login' ? 'Sign up' : 'Log in'"
    />
    }
  </div>
  <div id="profile" class="flex items-center flex-row gap-2" [hidden]="true">
    <img src="" alt="" class="w-full" />
    <p class="min-w-fit">Username</p>
  </div>
</nav>
