<div
  class="flex flex-col gap-4 items-center border border-primary py-4 rounded-2xl bg-amber-200 w-full"
>
  <h2 class="title-large text-primary">Log in</h2>
  <form
    class="form"
    (submit)="onSubmit($event)"
  >
    <app-input
      [label]="'Email'"
      [type]="'email'"
      [placeholder]="'abc@gmail.com'"
      [inputValue]="userForm.email"
      clasNames="w-full"
    />
    <app-input
      [label]="'Password'"
      [type]="'password'"
      [placeholder]="'!$%^%!&^%^&%'"
      [inputValue]="userForm.password"
      clasNames="w-full"
    />
    <app-button [buttonType]="'primary'" [name]="'Log in'" [type]="'submit'" />
  </form>
</div>
