<div class="form-container w-full md:w-7/12 lg:h-3/5 xl:w-2/5 ">
  <h2 class="title-large text-primary">Log in</h2>
  <form class="form" (submit)="onSubmit($event)">
    <app-input
      [label]="'Email or Username'"
      [type]="'email'"
      [placeholder]="'abc@gmail.com'"
      [fcName]="usernameOrEmail"
      class="w-full"
    />
    <app-input
      [label]="'Password'"
      [type]="'password'"
      [placeholder]="'!$%^%!&^%^&%'"
      [fcName]="password"
      class="w-full"
    />
    <app-button [buttonType]="'primary'" [name]="'Log in'" [type]="'submit'" />
  </form>
</div>
