<div class="form-container w-full md:w-10/12 lg:w-2/3">
  <h2 class="title-large text-primary">Sign up</h2>
  <form (submit)="onSubmit($event)" class="form">
    <div class="flex-center__col gap-3">
      <div
        class="h-[75px] w-[75px] rounded-full relative bg-white overflow-hidden"
      >
        @if(!avatar){
        <span class="translate-center">
          <fa-icon class="text-3xl" [icon]="faAvatar"></fa-icon>
        </span>
        }@else {
        <img
          [src]="avatarPreview"
          alt="avatar"
          class="w-full h-full object-cover translate-center"
        />
        }
        <input
          type="file"
          name="avatar"
          id="avatar"
          (input)="onFileSelected($event)"
          class="h-full w-full opacity-0"
        />
      </div>

      <div class="flex-center__row gap-4">
        <label
          class="paragraph cursor-pointer hover:underline text-secondary"
          for="avatar"
          >Upload a profile picture</label
        >
        <span
          [ngClass]="
            avatar
              ? 'text-red-600 paragraph cursor-pointer hover:underline'
              : 'text-red-300'
          "
          class=""
          (click)="deleteAvatar()"
        >
          Delete
          <fa-icon class="text-cl text-inherit" [icon]="faDelete"></fa-icon>
        </span>
      </div>
    </div>
    <div class="input-group">
      <app-input
        [label]="'First name'"
        [type]="'text'"
        [placeholder]="'John'"
        [fcName]="firstName"
      ></app-input>
      <app-input
        [label]="'Last name'"
        [type]="'text'"
        [placeholder]="'Doe'"
        [fcName]="lastName"
      ></app-input>
    </div>
    <div class="input-group">
      <app-input
        [label]="'Username'"
        [type]="'text'"
        [placeholder]="'Username'"
        [fcName]="username"
      ></app-input>
      <app-input
        [label]="'Email'"
        [type]="'email'"
        [placeholder]="'abc@gmail.com'"
        [fcName]="email"
      ></app-input>
    </div>

    <div class="input-group">
      <app-input
        [label]="'Date of birth'"
        [type]="'date'"
        [placeholder]="'1999-11-27'"
        [fcName]="dateOfBirth"
      ></app-input>
      <app-input
        [label]="'Gender'"
        [type]="'options'"
        [options]="['Male', 'Female']"
        [fcName]="gender"
      ></app-input>
    </div>
    <div class="input-group">
      <app-input
        [label]="'Password'"
        [type]="'password'"
        [placeholder]="'%@*&^*&^*@&'"
        [fcName]="password"
        [showVisibilityOptions]="true"
      ></app-input>
      <app-input
        [label]="'Confirm password'"
        [type]="'password'"
        [fcName]="confirmPassword"
      ></app-input>
    </div>
    <app-button [buttonType]="'primary'" [name]="'Sign up'" [type]="'submit'" />
  </form>
</div>
