<div class="form-container w-full md:w-10/12 lg:w-2/3 mt-[100px] mb:[50px] md:mb-0">
  <h2 class="title-large text-primary">Sign up</h2>
  <form (submit)="onSubmit($event)" class="form">
    <div class="flex-center__col gap-3 w-full overflow-hidden relative">
      @if(avatars$ | async; as avatarsList){
      <!-- This is the left and right buttons -->
      <div
        class="absolute right-0 h-full w-2/12 z-10 flex items-center justify-end px-4 bg-gradient-to-r from-transparent to-base to-80%"
      >
        <span (click)="onSlideRight(avatarsList.length + 1)"
          ><fa-icon
            class="cursor-pointer text-6xl text-primary opacity-100"
            [icon]="faChevronRight"
          ></fa-icon
        ></span>
      </div>
      <div
        class="absolute left-0 h-full w-2/12 z-10 flex items-center justify-start px-4 bg-gradient-to-r from-base from-20% to-transparent"
      >
        <span (click)="onSlideLeft()"
          ><fa-icon
            class="cursor-pointer text-6xl text-primary opacity-100"
            [icon]="faChevronLeft"
          ></fa-icon
        ></span>
      </div>
      <!-- This is the avatars list -->
      <div
        class="flex-center__row w-fit h-[110px] py-2 gap-2 translate-x-[296px] transition-transform duration-300 ease-in-out"
        [style]="{ transform: 'translateX(' + translateX + 'px)' }"
      >
        @for (avatar of avatarsList; track $index) {
        <div
          (click)="onClickAvatar($index)"
          class="h-[75px] w-[75px] rounded-full relative bg-white overflow-hidden cursor-pointer transition-all duration-300 ease-in-out"
          [ngClass]="
            currentAvatarIndex === $index
              ? 'border border-primary scale-125 m-2'
              : ''
          "
        >
          <img
            [src]="avatar"
            alt="avatar"
            class="w-full h-full object-cover translate-center"
          />
        </div>
        }
        <!-- This is custom avatar for the profile picture  -->
        <div
          (click)="onClickAvatar(avatarsList.length)"
          [ngClass]="
            currentAvatarIndex === avatarsList.length
              ? 'border border-primary scale-125 m-2'
              : ''
          "
          class="h-[75px] w-[75px] rounded-full relative bg-white overflow-hidden"
        >
          @if(typeof avatar !== 'object') {
          <span class="translate-center">
            <fa-icon class="text-3xl" [icon]="faAvatar"></fa-icon>
          </span>
          }@else {
          <img
            [src]="avatarPreview"
            alt="avatar"
            class="w-full h-full object-cover translate-center"
          />
          }
          <input
            type="file"
            name="avatar"
            id="avatar"
            (input)="onFileSelected($event)"
            class="h-full w-full opacity-0"
          />
        </div>
      </div>
      }
    </div>
    <div class="input-group">
      <app-input
        [label]="'First name'"
        [type]="'text'"
        [placeholder]="'John'"
        [fcName]="firstName"
      ></app-input>
      <app-input
        [label]="'Last name'"
        [type]="'text'"
        [placeholder]="'Doe'"
        [fcName]="lastName"
      ></app-input>
    </div>
    <div class="input-group">
      <app-input
        [label]="'Username'"
        [type]="'text'"
        [placeholder]="'Username'"
        [fcName]="username"
      ></app-input>
      <app-input
        [label]="'Email'"
        [type]="'email'"
        [placeholder]="'abc@gmail.com'"
        [fcName]="email"
      ></app-input>
    </div>

    <div class="input-group">
      <app-input
        [label]="'Date of birth'"
        [type]="'date'"
        [placeholder]="'1999-11-27'"
        [fcName]="dateOfBirth"
      ></app-input>
      <app-input
        [label]="'Gender'"
        [type]="'options'"
        [options]="['MALE', 'FEMALE', 'OTHERS']"
        [fcName]="gender"
      ></app-input>
    </div>
    <div class="input-group">
      <app-input
        [label]="'Password'"
        [type]="'password'"
        [placeholder]="'%@*&^*&^*@&'"
        [fcName]="password"
        [showVisibilityOptions]="true"
      ></app-input>
      <app-input
        [label]="'Confirm password'"
        [type]="'password'"
        [fcName]="confirmPassword"
        [isError]="isPasswordError"
      ></app-input>
    </div>
    <app-button [buttonType]="'primary'" [name]="'Sign up'" [type]="'submit'" />
  </form>
</div>
