<div [class]="`input w-full ${classNames()}`">
  <label class="pl-2 title-small" [for]="forInput">{{ label() }}</label>
  <div
    class="border border-primary px-3 py-1 rounded-full paragraph flex flex-row justify-between w-full bg-white"
  >
    @if(type() === 'options') {
    <select
      class="input-element"
      [formControl]="fcName()"
      [required]="required()"
    >
      <option disabled selected [defaultSelected]="true">{{ label() }}</option>
      @for (options of options(); track $index) {
      <option class="paragraph">{{ options }}</option>
      }
    </select>
    } @else {
    <input
      [type]="inputType"
      [name]="forInput"
      [id]="label()"
      [placeholder]="placeholder()"
      class="input-element w-full"
      [formControl]="fcName()"
      [required]="required()"
    />
    } @if(type() === 'password' && showVisibilityOptions()) {
    <span class="cursor-pointer w-fit" (click)="onVisibilityChange()"
      ><fa-icon [icon]="inputType === 'text' ? eyeSlash : eye"></fa-icon
    ></span>
    }@else {
    {{ icon() }}
    }
  </div>
</div>
